@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Global Theme Variables */
:root {
  --background: #FFFFFF;
  --foreground: #1B2228;

  --card: #f1f1f1;
  --card-foreground: #1B2228;

  --popover: #FFFFFF;
  --popover-foreground: #1B2228;

  --primary: #000000;
  --primary-foreground: #FFFFFF;

  --secondary: #F5F7FA;
  --secondary-foreground: #1B2228;

  --muted: #F5F7FA;
  --muted-foreground: #1B2228;

  --accent: #3182CE;
  --accent-foreground: #FFFFFF;

  --destructive: #E53E3E;
  --destructive-foreground: #FFFFFF;

  --border: #E2E8F0;
  --input: #E2E8F0;
  --ring: #2843f2;

  --radius: 0.5rem;
}

/* Dark Mode Overrides */
.dark {
  --background: #171717;
  --foreground: #FFFFFF;

  --card: #2e2e2f;
  --card-foreground: #FFFFFF;

  --popover: #1B2228;
  --popover-foreground: #FFFFFF;

  --primary: #ffffff;
  --primary-foreground: #1B2228;

  --secondary: #9e9e9e;
  --secondary-foreground: #FFFFFF;

  --muted: #3f3f3f;
  --muted-foreground: #FFFFFF;

  --accent: #63B3ED;
  --accent-foreground: #1B2228;

  --destructive: #E53E3E;
  --destructive-foreground: #FFFFFF;

  --border: #4A5568;
  --input: #4A5568;
  --ring: #3a68ff;
}